<h1>Welcome to Bookers!!</h1>
<p>In Bookers,<br>
you can share and exchange your opinions, inpresions, and emotiions<br>
about carious books!
</p>

<%= link_to 'log in', new_user_session_path %><br>
<%= link_to 'sign up', new_user_registration_path %>

